<% # Request Form %>
<div>
  <% if @available %>
    <form action="/borrow_direct_request/request_item/<%= @document[:id] %>"
          method="POST"
          class="form-inline"
    >
      <label for="pickup_location" class="sr-only">Pickup Location</label>
      <select id="pickup_location" name="pickup_location" class="form-control" required>
        <option>Please choose a delivery location</option>
        <% @locations.each do |location| %>
          <option value="<%= location['PickupLocationCode'] %>"><%= location['PickupLocationDescription'] %></option>
        <% end %>
      </select>
      <button class="btn btn-primary btn-sm ml-2">
        Submit
      </button>
    </form>
  <% else %>
    <div>
      <div class="row">
        <div class="col-12">
          <%= link_to_borrow_direct_search(@document) %>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-12">
          <div class="accordion" id="optionsContainer">
            <div class="card">
              <div class="card-header p-0" style="background-color: #7B838A;" id="optionsHeading">
                <h2 class="mb-0">
                  <button class="btn btn-block text-center"
                          style="color: white;"
                          type="button"
                          data-toggle="collapse"
                          data-target="#options"
                          aria-expanded="false"
                          aria-controls="options">
                    Other Options
                  </button>
                </h2>
              </div>

              <div id="options" class="collapse" aria-labelledby="optionsHeading" data-parent="#optionsContainer">
                <div class="card-body">
                  <div class="row">
                    <div class="col-8">
                      <h4 class="font-weight-bold mb-0"><small>Request via Interlibrary Loan</small></h4>
                      <p class="m-0 text-muted">
                        Get a print copy or electronic delivery of specific chapters.
                      </p>
                    </div>
                    <div class="col-4">
                      <%= link_to "Go to Interlibrary Loan Form", ENV['ILLIAD_URL'] + '?Action=10&Form=30&' + @document.export_as_openurl_ctx_kev, :class => "btn btn-primary btn-sm", :target => "_blank" %>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-8">
                      <h4 class="font-weight-bold mb-0"><small>Wait for local copy</small></h4>
                      <p class="m-0 text-muted">
                        You will be placed on a waiting list to receive this copy.
                      </p>
                    </div>
                    <div class="col-4">
                      <span x-on:click="show = 'request'"
                            class="btn btn-primary btn-sm">Join Queue</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>