<%- search_fields_for_advanced_search.each do |key, field_def| -%>
  <div class="form-group row advanced-search-field">
      <%= label_tag key, "#{field_def.label }", :class => "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <%= text_field_tag key, label_tag_default_for(key), :class => 'form-control' %>
      </div>
  </div>
<%- end -%>
<div class="form-group row advanced-search-field">
  <div class="col-md-12">
    <%= check_box_tag "unstemmed_search", "1", params[:unstemmed_search] %>
    <%= label_tag "unstemmed_search", "Disable automatic stemming" %>
    <%= link_to "What's this?", {:controller => "info", :action => "unstemmed_desc"}, :data => {:blacklight_modal => "trigger"} %>
  </div>
</div>