<% # search form for Articles %>

<noscript>
  <style type="text/css">
    .sr-only {
      display:inline;
      position: initial;
    }
  </style>
</noscript>

<div class="container">
  <div class="row mt-4" style="width:100%;">

    <% if params[:bento_redirect] %>
      <div class="alert alert-warning col-sm-12">
        <p class="mb-0"><strong>Notice:</strong> Embedded Articles search in Catalyst has been removed. Please search article databases directly using the form below.</p>
      </div>
    <% end %>

    <div id="articles-instructions" class="col-12">
      <p>Search for scholarly articles using Google Scholar or a database. Databases require JHED login.</p>
    </div>

    <div class="form-selector col-12 col-md-3 pb-2">
      <h1 class="sr-only">Johns Hopkins Libraries</h1>
      <h2 class="sr-only">Search for Articles</h2>
      <h3 class="sr-only">Database Selector</h3>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle btn-block" type="button" id="article-form-selector" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          EBSCO databases
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" data-form="#af-basic" data-toggle="collapse" href="#af-basic" role="button" aria-controls="af-google af-basic af-jstor af-pubmed af-proq">EBSCO databases</a>
          <a class="dropdown-item" data-form="#af-google" data-toggle="collapse" href="#af-google" role="button" aria-controls="af-google af-basic af-jstor af-pubmed af-proq">Google Scholar</a>
          <a class="dropdown-item" data-form="#af-jstor" data-toggle="collapse" href="#af-jstor" role="button" aria-controls="af-google af-basic af-jstor af-pubmed af-proq">JSTOR database</a>
          <a class="dropdown-item" data-form="#af-proq" data-toggle="collapse" href="#af-proq" role="button" aria-controls="af-google af-basic af-jstor af-pubmed af-proq">ProQuest databases</a>
          <a class="dropdown-item" data-form="#af-pubmed" data-toggle="collapse" href="#af-pubmed" role="button" aria-controls="af-google af-basic af-jstor af-pubmed af-proq">PubMed database</a>
        </div>
      </div>
    </div>

    <div id="article-forms" class="col">
      <div class="form-display collapse multi-collapse" id="af-google">
        <h3 class="sr-only">Search Google Scholar</h3>
        <form class="search-form" action="https://scholar.google.com/scholar" data-search-type="Google Scholar" target="_blank" _lpchecked="1">
          <label for="google_s" class="sr-only">Search for full-text articles, patents, and more</label>
          <div class="input-group">
            <%= text_field_tag :q, params[:q], :class => "q form-control copy-input", :placeholder => 'Search for full-text articles, patents, and more', :autofocus => "true", :name => "as_q", :id => "google_s" %>

            <input type="hidden" value="en" name="hl">
            <input id="inst" name="inst" type="hidden" value="5082568988407155951">

            <span class="input-group-append">
              <button type="submit" class="btn btn-primary search-btn">
                <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span>
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>
      </div>

      <div class="form-display collapse multi-collapse show" id="af-basic">
        <h3 class="sr-only">Search EBSCO Databases</h3>
        <form class="search-form" action="https://search.ebscohost.com/login.aspx" data-search-type="EBSCO Articles Basic Search" target="_blank" _lpchecked="1">
          <label for="as_q" class="sr-only">Search full-text articles and citations across many disciplines</label>

          <div class="input-group">
            <%= text_field_tag :q, params[:q], :class => "q form-control copy-input", :placeholder => 'Search full-text articles and citations in the humanities and sciences', :autofocus => "true", :name => "bquery", :id => "as_q" %>

            <input type="hidden" name="direct" value="true">
            <input type="hidden" name="scope" value="site">
            <input type="hidden" name="type" value="1">
            <input type="hidden" name="site" value="ehost-live">
            <input type="hidden" name="db" value="asn" data-name="Academic Search Ultimate">
            <input type="hidden" name="db" value="awn" data-name="Africa-wide NiPAD">
            <input type="hidden" name="db" value="ahl" data-name="America: History & Life">
            <input type="hidden" name="db" value="rfh" data-name="Atla Religion Database with AtlaSerials">
            <input type="hidden" name="db" value="rzh" data-name="CINAHL Plus with Full Text">
            <input type="hidden" name="db" value="cmedm" data-name="MEDLINE">
            <input type="hidden" name="db" value="ufh" data-name="Communication & Mass Media Complete">
            <input type="hidden" name="db" value="eoh" data-name="Econlit with Full Text">
            <input type="hidden" name="db" value="20h" data-name="Educational Administration Abstracts">
            <input type="hidden" name="db" value="eric" data-name="ERIC">
            <input type="hidden" name="db" value="flh" data-name="Family & Society Studies Worldwide">
            <input type="hidden" name="db" value="f3h" data-name="Film & Television Literature Index with Full Text">
            <input type="hidden" name="db" value="fmh" data-name="Gender Studies Database">
            <input type="hidden" name="db" value="geh" data-name="GeoRef">
            <input type="hidden" name="db" value="8gh" data-name="GreenFILE">
            <input type="hidden" name="db" value="hch" data-name="Health Source: Nursing/Academic Edition">
            <input type="hidden" name="db" value="hia" data-name="Historical Abstracts">
            <input type="hidden" name="db" value="22h" data-name="Human Resources Abstracts">
            <input type="hidden" name="db" value="hgh" data-name="Humanities International Index">
            <input type="hidden" name="db" value="ijh" data-name="International Political Science Abstracts">
            <input type="hidden" name="db" value="lxh" data-name="Library, Information Science & Technology Abstracts (LISTA)">
            <input type="hidden" name="db" value="f5h" data-name="MasterFILE Premier">
            <input type="hidden" name="db" value="mth" data-name="Military & Government Collection">
            <input type="hidden" name="db" value="mzh" data-name="MLA International Bibliography">
            <input type="hidden" name="db" value="pif" data-name="The Philosopher's Index with Full Text">
            <input type="hidden" name="db" value="pdh" data-name="APA PsycArticles">
            <input type="hidden" name="db" value="psyh" data-name="APA PsycInfo">
            <input type="hidden" name="db" value="rih" data-name="RILM Abstracts of Music Literature (1967 - Present Only)">
            <input type="hidden" name="db" value="rph" data-name="Retrospective Index to Music Periodicals (RIPM)">
            <input type="hidden" name="db" value="s3h" data-name="SPORTDiscus with Full Text">
            <input type="hidden" name="db" value="trh" data-name="Teacher Reference Center">
            <input type="hidden" name="db" value="mah" data-name="The Music Index">
            <input type="hidden" name="db" value="bsu" data-name="Business Source Ultimate">
            <input type="hidden" name="db" value="i3h" data-name="Criminal Justice Abstracts">
            <input type="hidden" name="db" value="lft" data-name="Index to Legal Periodicals & Books Full Text (H.W. Wilson)">
            <input type="hidden" name="db" value="ast" data-name="Applied Science & Technology Index Retrospective: 1913-1983">
            <input type="hidden" name="db" value="hsr" data-name="Humanities & Social Sciences Index Retrospective: 1907-1984 (H.W. Wilson)">
            <input type="hidden" name="db" value="rgr" data-name="Readers' Guide Retrospective: 1890-1982 (H.W. Wilson)">
            <input type="hidden" name="db" value="ofm" data-name="OmniFile Full Text Mega (H.W. Wilson)">
            <input type="hidden" name="lang" value="en">
            <input type="hidden" name="authtype" value="ip,shib">
            <input type="hidden" name="custid" value="s3555202">
            <input type="hidden" name="ssl" value="Y">

            <span class="input-group-append">
              <button type="submit" class="btn btn-primary search-btn">
                <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span>
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>
      </div>

      <div class="form-display collapse multi-collapse" id="af-jstor">
        <h3 class="sr-only">Search JSTOR</h3>
        <form class="search-form" action="https://shibbolethsp.jstor.org/start" data-search-type="JSTOR" target="_blank" _lpchecked="1">
          <label for="jstor_s" class="sr-only">Search full-text articles and books in the humanities and sciences</label>

          <div class="input-group">
            <%= text_field_tag :q, params[:q], :class => "q form-control copy-input", :placeholder => 'Search full-text articles and books in the humanities and sciences', :autofocus => "true", :name => "Query", :id => "jstor_s" %>

            <input type="hidden" name="entityID" value="urn:mace:incommon:johnshopkins.edu">
            <input type="hidden" name="site" value="jstor">
            <input id="jstor-dest" type="hidden" name="dest" value="">

            <span class="input-group-append">
              <button type="submit" class="btn btn-primary search-btn">
                <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span>
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>
      </div>

      <div class="form-display collapse multi-collapse" id="af-pubmed">
        <h3 class="sr-only">Search PubMed</h3>
        <form class="search-form" action="https://pubmed.ncbi.nlm.nih.gov/" data-search-type="PubMed" target="_blank" _lpchecked="1">
          <label for="pubmed_s" class="sr-only">Search millions of citations to articles in biomedical sciences</label>

          <div class="input-group">
            <%= text_field_tag :q, params[:q], :class => "q form-control copy-input", :placeholder => 'Search millions of citations to articles in biomedical sciences', :name => "term", :id => "pubmed_s" %>

            <input type="hidden" value="jhumlib" name="otool">

            <span class="input-group-append">
              <button type="submit" class="btn btn-primary search-btn">
                <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span>
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>
      </div>

      <div class="form-display collapse multi-collapse" id="af-proq">
        <h3 class="sr-only">Search ProQuest</h3>
        <form class="search-form" action="https://search.proquest.com/runSearch" data-search-type="ProQuest" target="_blank" _lpchecked="1">
          <label for="proq_s" class="sr-only">Search full-text articles and citations across many disciplines</label>

          <div class="input-group">
            <%= text_field_tag :q, params[:q], :class => "q form-control copy-input", :placeholder => 'Search full-text articles and citations across many disciplines', :name => "query", :id => "proq_s" %>

            <input type="hidden" name="accountid" value="11752">

            <span class="input-group-append">
              <button type="submit" class="btn btn-primary search-btn">
                <span class="submit-search-text"><%=t('blacklight.search.form.submit')%></span>
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>
      </div>

      <div class="mt-4">
        <p><strong>Need something more specialized?</strong><br/>
          <%= link_to "//databases.library.jhu.edu/" do %>
            Search in a subject-specific database
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-right-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-11.5.5a.5.5 0 0 1 0-1h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5z"></path>
            </svg>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</div>
