<div class="request-head-notes">
  <div class="row citation">
    <div class="col-md-2 cover-container">
      <img class="cover-image <%= cover_formats(@document) %>"
           src="/bookcover?bib=<%= @document['id'] %>" />
    </div>
    <div class="col-md-10">
      <div class="bib">
      <span><%= heading_title(@document) -%>
        <% if subtitle_line = heading_subtitle(@document) %>
        : <%= subtitle_line %>
      <% end %>
        / <%= heading_stmt_resp(@document) %></span>
      </div>

      <div class="item">
        <%= h(@ils_request.item_display) %>
      </div>
    </div>

  </div>  

  <% unless (head_notes = request_head_notes).empty? %>      
    <ul class="alert alert-warning list-unstyled">
      <% request_head_notes.each do |line| %>
        <li><span class="ui-icon ui-icon-alert"></span><%= h(line[:text]) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
