<div class="modal-header">
  <h1><%= t('blacklight.tools.citation') %></h1>
  <button type="button" class="blacklight-modal-close close" data-dismiss="modal" aria-label="<%= t('blacklight.modal.close') %>">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <% documents = Array.new %>
  <% @documents.each do |document| %>
    <% documents << update_marc_for_citation( document ) %>
  <% end %>

  <% documents = documents.sort { |a,b| strip_tags(a.send(:export_as_mla_citation_txt)).downcase <=> strip_tags(b.send(:export_as_mla_citation_txt)).downcase } %>

  <div class="citation-style">
    <h4><%= t('blacklight.citation.mla') %></h4>
    <% documents.each do |document| %>
      <% if document.respond_to?(:export_as_mla_citation_txt) %>
        <p class="citation indent">
          <%= document.send(:export_as_mla_citation_txt).html_safe %>
        </p>
      <% end %>
    <% end %>
  </div>

  <% documents = documents.sort { |a,b| strip_tags(a.send(:export_as_apa_citation_txt)).downcase <=> strip_tags(b.send(:export_as_apa_citation_txt)).downcase } %>

  <div class="citation-style">
    <h4><%= t('blacklight.citation.apa') %></h4>
    <% documents.each do |document| %>
      <% if document.respond_to?(:export_as_apa_citation_txt) %>
        <p class="citation indent">
          <%= document.send(:export_as_apa_citation_txt).html_safe %>
        </p>
      <% end %>
    <% end %>
  </div>

  <% documents = documents.sort { |a,b| strip_tags(a.send(:export_as_chicago_citation_txt)).downcase <=> strip_tags(b.send(:export_as_apa_citation_txt)).downcase } %>

  <div class="citation-style">
    <h4><%= t('blacklight.citation.chicago') %></h4>
    <% documents.each do |document| %>
      <% if document.respond_to?(:export_as_chicago_citation_txt) %>
        <p class="citation indent">
          <%= document.send(:export_as_chicago_citation_txt).html_safe %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
