<% if Deprecation.silence(Blacklight::RenderConstraintsHelperBehavior) { query_has_constraints? } || (quick_search? && query_has_filters?)  %>
  <div id="appliedParams" class="clearfix constraints-container">
    <h2 class="sr-only"><%= t('blacklight.search.search_constraints_header') %></h2>

    <span class="constraints-label sr-only"><%= t('blacklight.search.filters.title') %></span>

    <% if advanced_search? %>
      <%= render 'start_over' %>
      <%= render_constraints(controller.params != params ? params : search_state) %>
    <% else %>
      <%= link_to_search_query(params) %>
      <%= render_filters(controller.params != params ? params : search_state) %>
    <% end %>
  </div>
<% end %>
