<span style="float: left;">
  <% counter = document_counter_with_offset(document_counter) %>
  <span class="document-counter">
  <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
  </span>
</span>

<% # div closes in _index_marc.html.erb -%>

<div class="search-results-item">
  <div class="row">
    <div class="col-md-2 cover-container">
      <img class="cover-image <%= cover_formats(document) %>"
           src="/bookcover?bib=<%= document['id'] %>" alt=""/>
    </div>
    <div class="col-md-10">
      <% # header bar for doc items in index view -%>
      <div class="documentHeader row">

        <%# main title container for doc partial view
            How many bootstrap columns need to be reserved
            for bookmarks control depends on size.
        -%>
        <div class="col-sm-9 col-lg-10 item-heading-column">
          <h3 class="index_title">
            <% counter = document_counter_with_offset(document_counter) %>
            <%= jhu_link_to_document document, document['title_display'], :counter => counter %>
          </h3>
        </div>

        <% # bookmark functions for items/docs -%>
        <%= render_index_doc_actions document, :wrapping_class => "index-document-functions col-sm-3 col-lg-2" %>
      </div>
