
<div class="search-results-item">
    <% (stmt_resp = heading_stmt_resp(document, :truncate => true))
       (main_entry = heading_main_entry(document))
       (pub_date = heading_pub_date_str(document))

    if stmt_resp || main_entry || pub_date %>
      <div class="results-item-key-details">
          <% if first_author = (stmt_resp || main_entry) %>
            <span class="first-author"><%= first_author %></span>
          <% end %>

          <% if pub_date.present? %>
            <span class="results-item-line pub-date">
              <%= pub_date %>.
            </span>
          <% end %>

          <% if stmt_resp && main_entry  %>
             <p class="second-author"><%= main_entry %></p>
          <% end %>

      </div>
    <% end %>


   <!-- linked 880 non-roman versions of titles and authors-->
    <% linked_titles = heading_linked_titles(document)
       linked_stmt_resps = heading_linked_stmt_resp(document) %>

    <% if linked_titles.present? || linked_stmt_resps.present? %>
      <div class="alternate_language results-item-section offset-2">
        <%  if linked_titles.present? %>
          <ul class="alternate-titles list-unstyled results-item-line">
            <% heading_linked_titles(document).each do |linked_title| %>
              <li><%= linked_title %></li>
            <% end %>
          </ul>
        <% end %>

        <% if linked_stmt_resps.present?  %>
          <ul class="alternate-authors list-unstyled results-item-line">
            <% linked_stmt_resps.each do |stmt| %>
              <li><%= stmt %></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    <% end %>



    <div class="about results-item-section">
      <% # only first 3 subject lines are shown!
         if subject_lines = all_subject_lines(document) %>
        <ul class="subjects list-inline results-item-line">
          <% subject_lines[0..2].each do |line| %>
            <li class="list-inline-item"><%= render_marc_line(line) %></li>
          <% end %>
          <% if subject_lines.length > 4 %><li>&#8230;</li><% end %>
        </ul>
      <% end %>
    </div>

      <% if summary = shortened_summary(document)
      %>
        <div class="summary results-item-section">
          <%= summary %>
        </div>
      <% end %>

      <% # only include partial contents if there's no summary.
         if (! summary && contents = shortened_contents(document))
      %>
        <div class="contents results-item-section">
          <%= contents %>
        </div>
      <% end %>


    <%- # links, with find it link that will be enhanced by JS
    links_presenter = MarcDisplay::FieldPresenter.new(document, document.to_marc, JHConfig.params[:links_presenter].first)

    -%>

    <% # Look for Online Verions %>
    <% if( JHConfig.params[:umlaut_base_url] &&
        document.export_formats.keys.include?(:openurl_ctx_kev)) && related_links_type(document) != :online %>
      <% if !hathi_eta(document) %>
        <div id="findit-wrapper">
          <%= link_to(JHConfig.params[:umlaut_base_url] +  "/resolve?#{document.export_as_openurl_ctx_kev}", {:class => "request btn btn-primary btn-sm"}  ) do %>
            Look for Online Versions
          <% end %>
        </div>
      <% end %>
    <% end %>

    <% if hathi_eta(document) && related_hathi_links(document).length > 0 %>
      <div class="links results-item-section card">
        <div class="card-header">
          <div class="col-sm-7">
            Online Access
            <% if (Rails.application.config.x.suppress_browse != true) && (browse_sort_key = shelf_browse_sort_key_for(document)) %>
              <span> | </span>
              <span class="glyphicon glyphicon-book"></span> <%= link_to "Virtual Shelf Browse", shelfbrowse_path(:origin_sort_key => browse_sort_key) %>
            <% end %>
          </div>
<!--          <div class="action-container col-sm-6">-->
            <%#= link_to(JHConfig.params[:umlaut_base_url] +  "/resolve?#{document.export_as_openurl_ctx_kev}", {:class => "request btn btn-primary btn-sm"}  ) do %>
<!--              Look for Other Versions-->
            <%# end %>
<!--          </div>-->
        </div>

        <div class="card-body">
          <% if hathi_eta(document) && related_hathi_links(document).length > 0 %>
            <% related_hathi_links(document).each do |url| %>
              <%= link_to "Full text available from HathiTrust", url %><br/>
            <% end %>
          <% end %>
        </div>

      </div>
    <% end %>

    <% if links_presenter.lines.present? && related_links_type(document) == :online %>
      <div class="links results-item-section card">
        <div class="card-header"><%= related_links_title(document) %>
          <% if (Rails.application.config.x.suppress_browse != true) && (browse_sort_key = shelf_browse_sort_key_for(document)) %>
            <span> | </span>
            <span class="glyphicon glyphicon-book"></span> <%= link_to "Virtual Shelf Browse", shelfbrowse_path(:origin_sort_key => browse_sort_key) %>
          <% end %>
        </div>

        <div class="card-body">
          <% if hathi_eta(document) %>
            <% related_hathi_links(document).each do |url| %>
              <%= link_to "HathiTrust", url %><br/>
            <% end %>
          <% end %>
          <%=
          render :partial => "marc_display/presenter_content", :locals => {:presenter => links_presenter } if links_presenter.should_display?
          %>
        </div>

      </div>
    <% end %>

    <% if document.respond_to?(:to_holdings) && document.to_holdings.present? && related_hathi_links_etas_only(document).length == 0 %>
      <ul class="holdings list-group">
        <%= render :partial => "catalog/holding_expandable", :collection => document.to_holdings, :locals => {:document_id => document["id"], document: document  } %>
      </ul>
    <% end %>

</div>
