<%# copy and paste override of Blacklight template, as of BL 5.2, so we
    can wrap in a div to customize indent better %>


      <% # header bar for doc items in index view -%>
      <div class="documentHeader row">

        <%# main title container for doc partial view
            How many bootstrap columns need to be reserved
            for bookmarks control depends on size.
        -%>
         <div class="col-sm-9 col-lg-10 item-heading-column">
            <h3 class="index_title">
                 <% counter = document_counter_with_offset(document_counter) %>
                 <span class="document-counter">
                 <%= t('blacklight.search.documents.counter', :counter => counter) if counter %>
                 </span>
                 <%= jhu_link_to_document document, document['title_display'], :counter => counter %>
            </h3>
        </div>

        <% # bookmark functions for items/docs -%>
        <%= render_index_doc_actions document, :wrapping_class => "index-document-functions col-sm-3 col-lg-2" %>
      </div>
      <% if (document['isbn_t'].respond_to?('each')) %>
      <img src="/bookcover?isbn=<%= document['isbn_t'].join(",") %>&format=<%= document['format'].join(",") %>">
      <% end %>