 <% if hathi_eta(document) && related_hathi_links(document).length > 0 %>
  <div id="hathi-etas" hathi-present="<%=related_hathi_links(document).length > 0 %> " data-umlaut-update="body">
  
      <% related_hathi_links(document).each do |url| %>
        <%= link_to "Full text available from HathiTrust", url %><br/>
      <% end %>
  </div>
<% else %>
  <div class="online-access-container" data-publisher="<%= document.to_marc.try(:[], '264').try(:[], 'b') %>" data-format='<%= document['format'].to_json %>' data-remote-url="/online-access/show?<%= document.export_as_openurl_ctx_kev %>" data-umlaut-update="body">
    <% links_presenter = MarcDisplay::FieldPresenter.new(document, document.to_marc, JHConfig.params[:links_presenter].first) %>
      <%  if links_presenter.lines.present? %>
        <%= render :partial => "marc_display/presenter_content", :locals => {:presenter => links_presenter } if links_presenter.should_display? %>
      <% else %>
        <%= 'Not Available' %>
      <% end %>
  </div>
  <script>
   document.addEventListener('DOMContentLoaded', function() {
    loadOnlineAccess()
   })
  </script>
<% end %>
