<div class="show-marc">
  <%# Online Access, starts with stuff from MARC record, updated by Umlaut %>

  <%-
      links_presenter = MarcDisplay::FieldPresenter.new(document, document.to_marc, JHConfig.params[:links_presenter].first)
  -%>


    <div class="links card mb-4">
      <div class="card-header"><h3 class="card-title mb-0 h6" data-umlaut-update="heading"><%= related_links_title(document) %></h3></div>

      <div class="card-body" >
        <div id="hathi-etas" hathi-present="<%=related_hathi_links(document).length > 0 %> ">
          <% if hathi_eta(document) && related_hathi_links(document).length > 0 %>
            <% related_hathi_links_etas_only(document).each do |url| %>
              <%= link_to "Full text available from HathiTrust", url %><br/>
            <% end %>
          <% end %>
        </div>
        <div data-umlaut-update="body">
          <%=
          render :partial => "marc_display/presenter_content", :locals => {:presenter => links_presenter } if links_presenter.should_display?
          %>
          <% if should_include_findit_url?(document: document) %>
          <!-- the Find It link -->
            <% if( JHConfig.params[:umlaut_base_url] &&
              document.export_formats.keys.include?(:openurl_ctx_kev)) %>
              
                <%= link_to(JHConfig.params[:umlaut_base_url] +  "/resolve?#{document.export_as_openurl_ctx_kev}" , :rel=>"nofollow", :class=>"findit_link") do %>
                <%= image_tag("jhu_findit.gif",  :alt=>"Find It @ JH") %>
                <% end %>
              <% end %>
            <% end %>
        </div>

      </div>

    </div>

    <%# borrow direct section, only where appropriate. This duplicates some of
        what's in FindIt/Umlaut, sorry.  %>
    <% if related_hathi_links_etas_only(document).length == 0 %>
      <% if show_borrow_direct? document %>
        <%= render 'borrow_direct', :document => document %>
      <% end %>
    <% end %>

  <% if related_hathi_links_etas_only(document).length == 0 %>
    <% if show_borrow_direct? document %>
      <div class="card mb-4 panel-default">
        <div class="card-header">
          <h3 class="card-title mb-0 h6">
            Request from another library
          </h3>
          <small>Get a copy from a partner library in 6-9 days. Checkout period is 16 weeks, with no renewals.</small>
        </div>
        <div class="card-body borrow-direct-container"
             data-format='<%= document['format'].to_json %>'
             data-remote-url="/borrow_direct_request/request_options/<%= document['id'] %>"
             data-umlaut-update="body">
          Loading...
          <script>
              loadBorrowDirect()
          </script>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if document.respond_to?(:to_holdings) && document.to_holdings.present? && related_hathi_links_etas_only(document).length == 0  %>
    <ul class="holdings list-group">
      <%= render :partial => "catalog/holding_expandable", :collection => document.to_holdings, :locals => { document_id: document["id"], document: document } %>
    </ul>
  <% end %>


  <%= render :partial => "marc_display/marc_display", :locals => {:document => document, :marc_presenter_list => JHConfig.params[:main_presenter_list]} %>





</div>
