<div class="show-marc">
  <%# Online Access, starts with stuff from MARC record, updated by SFX %>
    <%= render 'links_card', document: document %>

    <%# borrow direct section, only where appropriate. This duplicates some of
        what's in FindIt/Umlaut, sorry.  %>
    <% if related_hathi_links_etas_only(document).length == 0 %>
      <% if show_borrow_direct? document %>
        <%= render 'borrow_direct', :document => document %>
      <% end %>
    <% end %>

  <% if document.respond_to?(:to_holdings) && document.to_holdings.present? && related_hathi_links_etas_only(document).length == 0  %>
    <ul class="holdings list-group">
      <%= render :partial => "catalog/holding_expandable", :collection => document.to_holdings, :locals => { document_id: document["id"], document: document } %>
    </ul>
  <% end %>


  <%= render :partial => "marc_display/marc_display", :locals => {:document => document, :marc_presenter_list => JHConfig.params[:main_presenter_list]} %>

    <!-- the Find It link / this triggers the addition of section_targets from umlaut_include.js -->
  <% if( JHConfig.params[:umlaut_base_url] &&
    document.export_formats.keys.include?(:openurl_ctx_kev)) %>
   
    <%= link_to(JHConfig.params[:umlaut_base_url] +  "/resolve?#{document.export_as_openurl_ctx_kev}" , :rel=>"nofollow", :class=>"findit_link") do %>
      <%= image_tag("jhu_findit.gif",  :alt=>"Find It @ JH") %>
    <% end %>
  <% end %>
</div>
