
<%= form_tag user_sessions_path, :class => "form-horizontal", :role => "form" do %>
  <div class="form-group">
    <%= label_tag 'barcode', "Barcode", :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= text_field_tag 'barcode', params[:barcode], :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag 'pin', "PIN", :class => "col-sm-2 control-label" %>
    <div class="col-sm-4">
      <%= password_field_tag 'pin', "", :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= submit_tag('Login', :class => "btn btn-outline-secondary")%>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-9 alert alert-info">
      <p><strong>Notice:</strong> <strong>APL staff</strong> should login using their JHED, using the 'Login with JHED' button at the top of this page. APL Retirees should continue to use this login box for 'Other Users'. Contact the APL Information Group at x85151 for more information.</p>
    </div>
  </div>
  <%= hidden_field_tag :referer, @referer %>
<% end %>
