<h2>Book Pickup Service</h2>
<div class="sr-only">
  <%= @page_title = "Book Pickup & Returns - JH Libraries" %>
</div>
<p>
  Books and materials from the Johns Hopkins Libraries may be requested for pickup on the Homewood, East Baltimore, Washington D.C., and Applied Physics Laboratory campuses. At this time, pick up service is available for current Johns Hopkins ID cardholders: students, faculty, and staff. Turnaround time for requested books may be longer than usual. Only books owned by the Johns Hopkins Libraries and available through BorrowDirect are eligible.
</p>
<h3>Safety Guidelines: </h3>
<ul>
  <li>To pick up items, you must have a green <a href="https://prodensity.jh.edu/welcome">Prodensity</a> pass.</li>
  <li>Masks and social distancing are required on campus.</li>
  <li>Library materials will be quarantined for 24 hours between users.</li>
</ul>
<h3>How to Request Books: </h3>
<ol>
  <li>Log in to <a href="/login">Catalyst</a>, the online catalog, using your JHED credentials.</li>
  <li>Request materials by selecting the “Request Pickup” button indicating your preferred pick up location.</li>
  <li>We will find and prepare the materials for contact-free pick up.</li>
  <li>When your materials are ready, we will notify you by email.</li>
</ol>
<h3>Pick Up Hours & Locations: </h3>
<p>You may pick up materials at any location listed below. Note that APL is restricted to APL staff only.
</p>

<dl class="campus-libraries">
  <dt class="row" style="border-bottom: 2px solid #cccccc; padding: 8px 4px;">
    <div class="col-md-5">
      <a href="http://www.library.jhu.edu/" style="font-size: 1.1em;">Milton S. Eisenhower Library</a>, Homewood Campus<br />
      3400 N. Charles Street, Baltimore<br /><br />
      Monday – Friday, 8:30 am – 10 pm<br />
      Saturday – Sunday, 10 am - 10 pm<br /><br />
      Email <%= link_to "circmail@jhu.edu", "mailto:circmail@jhu.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %> for assistance
    </div>
    <div class="col-md-7">
      <h4 style="font-size: 1.1em;">Pickup</h4>
      <div style="padding-left: 12px">
        The Book Pickup Service has moved further inside the Library and will no longer require pickup reservations at this time. Once past the east entrance guard's desk in the library, follow signs to the Book Pickup Shelves (located next to the printing room on M-Level) to pick up your books. Paper bags will be provided. To pick up items, you must: have an active JCARD, wear a face mask, and respect social distancing.
      </div>
      <h4 style="font-size: 1.1em;margin-top: 8px;">Return</h4>
      <div style="padding-left: 12px">
        <p>Return books at the Return Slot at the Service Desk or in the Book Return next to the guard's desk.</p>
        <p>If you recently graduated and have 10 or fewer books to return, you may send a request for a pre-paid digital UPS shipping label to <%= link_to "circmail@jhu.edu", "mailto:circmail@jhu.edu"  %>. Students are responsible for printing the label, packing the books, and dropping them off at a <%= link_to "UPS location", "https://www.ups.com/dropoff/?loc=en_US"  %>. Eligible items include books owned by Johns Hopkins libraries, and materials from BorrowDirect and interlibrary loan. Please do not send book donations through this pilot program.</p>
      </div>
    </div>
  </dt>
  <dt class="row" style="border-bottom: 2px solid #cccccc; padding: 8px 4px;">
    <div class="col-md-5">
      <a href="http://www.welch.jhu.edu" style="font-size: 1.1em;">
        Welch Medical Library Building</a>, East Baltimore campus<br />
      1900 E. Monument Street, Baltimore<br />
      Rear Entrance<br /><br />
      Monday, Wednesday, and Friday, 10 am – 2 pm<br /><br />
      Email <%= link_to "wsc@jhmi.edu", "mailto:wsc@jhmi.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %> for assistance
    </div>
    <div class="col-md-7">
      <h4 style="font-size: 1.1em;">Pickup</h4>
      <div style="padding-left: 12px">
        Enter the library through the rear entrance opposite the Preclinical Teaching Building. Locate the bag marked with your name on a book truck parked in the vestibule and exit the library.<br /><br />
        (Patrons are emailed when an item is available)
      </div>
      <h4 style="font-size: 1.1em;margin-top: 8px;">Return</h4>
      <div style="padding-left: 12px">
        Items can be returned at the same pick-up times, inside the glass vestibule. <br /><br />
        Also, there is a slot for returns outside the vestibule that is accessible 24 hours.
      </div>
    </div>
  </dt>
  <dt class="row" style="border-bottom: 2px solid #cccccc; padding: 8px 4px;">
    <div class="col-md-5">
      <a href="https://sais.jhu.edu/faculty-research/our-libraries/mason-library/book-pickup-service" style="font-size: 1.1em;">
        Mason Library at SAIS</a>, DC campus<br />
      1740 Massachusetts Ave NW, Washington D.C.<br />
      Monday - Friday, 9 am - 3 pm<br /><br />
      Nitze Building Lobby <br /><br />
      Email <%= link_to "saislibrary@jhu.edu", "mailto:saislibrary@jhu.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %> for assistance
    </div>
    <div class="col-md-7">
      <h4 style="font-size: 1.1em;">Pickup</h4>
      <div style="padding-left: 12px">
        All materials for both the Johns Hopkins SAIS and the Washington Library Resource Center can be picked up at Mason Library
        at Johns Hopkins SAIS in Washington DC. Enter the building, show your photo ID or JCARD to the guard and locate the bag(s)
        with your name on a book cart in the lobby, then leave through the front exit. Prodensity Health Check required every 12 hours before arriving and while on campus.
      </div>
    </div>
  </dt>
  <dt class="row" style="border-bottom: 2px solid #cccccc; padding: 8px 4px;">
    <div class="col-md-5">
      <a href="https://www.jhuapl.edu/Library/" style="font-size: 1.1em;">
        APL (staff only)</a>
      <p>
        APL staff may pick up books in 5-17 from the shelf to the left upon entering.
      </p>
      Email <%= link_to "LibraryRequest@jhuapl.edu", "mailto:LibraryRequest@jhuapl.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %> for assistance
    </div>
    <div class="col-md-7">
      <!--  <p>-->
      <!--    All materials for both the Johns Hopkins SAIS and the Washington Library Resource Center can be picked up at Mason Library-->
      <!--    at Johns Hopkins SAIS in Washington DC. Enter the building, show your photo ID or JCARD to the guard and locate the bag(s)-->
      <!--    with your name on a book cart in the lobby, then leave through the front exit. Prodensity Health Check required every 12 hours before arriving and while on campus. You can do this on the web or in the Health section of the <a href="https://prodensity.jh.edu/welcome">Prodensity mobile app</a>.-->
      <!--  </p>-->
      <!--  <dt><a href="https://www.jhuapl.edu/Library/">-->
      <!--    APL (staff only)</a></dt>-->
      <!--  <p>-->
      <!--    APL staff may pick up books in 5-17 from the shelf to the left upon entering.-->
      <!--  </p>-->

      <!--   <dt><a href="https://peabody.jhu.edu/explore-peabody/libraries-archives/">-->
      <!--    Arthur Friedheim Library</a></dt>-->
      <!--  <p>-->
      <!--    Monday - Friday 12pm - 4pm, Mews Entrance at 609 Washington Pl.-->
      <!--  </p>-->
    </div>
  </dt>
  <dt class="row">
    <div class="col-md-5">
      <a href="https://peabody.jhu.edu/explore-peabody/libraries-archives/" style="font-size: 1.1em;">
        Arthur Friedheim Library</a> <br />
      <p>
        Monday - Friday, 9 am - 5 pm<br />
      </p>
      Email <%= link_to "friedheimlibrary@jhu.edu", "mailto:friedheimlibrary@jhu.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %> for assistance
    </div>
    <div class="col-md-7">
      <h4 style="font-size: 1.1em;">Pickup</h4>
      <div style="padding-left: 12px">
        <p>Once the materials are ready, we will notify you by email. <br />Enter using the 21 E Mt. Vernon Street entrance into Leakin Hall.</p>
        <p><a href="https://peabody-jhu.libcal.com/reserve/equipment/library"><strong>Equipment checkouts are also available</strong></a> Equipment may be checked out using our <a  href="https://peabody-jhu.libcal.com/reserve/equipment/library">standard reservation system</a>. All reservations must be made at least 24 hours before pick-up. You will receive an email confirming your equipment is available for contact-less pick-up at AFL.</p>
      </div>
    </div>

  </dt>

</dl>
<br />
<br />
<h3>Book Returns: </h3>
<p>
  If you are relocating or have special circumstances, please contact your circulation library staff.
</p>

