<h2>Book Pickup Service</h2>
<div class="sr-only">
  <%= @page_title = "Book Pickup Service - JH Libraries" %>
</div>
<p>
  Books and materials from the Johns Hopkins Libraries may be requested for pickup. At this time, pick up service is available for current Johns Hopkins  students, faculty, and staff.
</p>
<h3>Safety Guidelines: </h3>
<ul>
  <li>To pick up items, you must have a green <a href="https://prodensity.jh.edu/welcome">Prodensity</a> pass.</li>
  <li>Masks and social distancing are required on campus.</li>
</ul>
<h3>How to Request Books: </h3>
<ol>
  <li>Log in to <a href="/login">Catalyst</a>, the online catalog, using your JHED credentials.</li>
  <li>Request materials by selecting the “Request Pickup” button indicating your preferred pick up location.</li>
  <li>We will find and prepare the materials for contact-free pick up.</li>
  <li>When your materials are ready, we will notify you by email.</li>
</ol>
<h3>Pick Up Hours & Locations: </h3>
<p>
  You may request to pick up materials at any location listed below.
</p>
<br />
<br />

<dl>
  <dt class="row" style="padding-bottom:24px;">
    <div class="col-md-5">
      <h4>
        <%= link_to "Milton S. Eisenhower Library", "https://www.library.jhu.edu/"  %>
      </h4>
      <p>
        Homewood Campus | <%= link_to "Hours", "https://www.library.jhu.edu/library-hours/milton-s-eisenhower-library/"  %><br />
        3400 N. Charles Street, Baltimore
      </p>
      <p>
        <%= link_to "circmail@jhu.libanswers.com", "mailto:circmail@jhu.libanswers.com?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %>
      </p>
    </div>
    <div class="col-md-7">
      <a href="https://www.library.jhu.edu/about/news/covid-19-updates/"
         class="btn btn-primary">
        COVID-19 Updates
      </a>
    </div>
  </dt>
  <dt class="row" style="padding-bottom:24px;">
    <div class="col-md-5">
      <h4>
        <%= link_to "Welch Medical Library Building", "http://welch.jhmi.edu/welchone/"  %>
      </h4>
      <p>
        East Baltimore campus | <%= link_to "Hours", "https://welch.jhmi.edu/about/service-locations"  %><br />
        1900 E. Monument Street, Baltimore
      </p>
      <p>
        <%= link_to "wsc@jhmi.edu", "mailto:wsc@jhmi.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %>
      </p>
    </div>
    <div class="col-md-7">
      <a href="https://welch.jhmi.edu/featured/welch-medical-library-covid-19-updates"
         class="btn btn-primary">
        COVID-19 Updates
      </a>
    </div>
  </dt>
  <dt class="row" style="padding-bottom:24px;">
    <div class="col-md-5">
      <h4>
        <%= link_to "Mason Library at SAIS", "http://www.sais-jhu.edu/library/"  %>
      </h4>
      <p>
        DC campus | <%= link_to "Hours", "http://www.sais-jhu.edu/library/"  %><br />
        1740 Massachusetts Ave NW, Washington D.C.
      </p>
      <p>
        <%= link_to "saislibrary@jhu.edu", "mailto:saislibrary@jhu.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %>
      </p>
      <p style="font-weight: 400;">
        Mason Library supports the Book Pickup Service for all DC-based Hopkins affiliates. Self-serve pickup shelves are located on the sixth floor in the Library.
      </p>
    </div>
    <div class="col-md-7">
      <a href="https://sais.jhu.edu/faculty-research/our-libraries/mason-library/book-pickup-service"
         class="btn btn-primary">
        Book Pickup Service Details
      </a>
    </div>
  </dt>
  <dt class="row" style="padding-bottom:24px;">
    <div class="col-md-5">
      <h4>
        <%= link_to "APL", "https://www.jhuapl.edu/Library/"  %>
      </h4>
      <p>Access for APL staff only.</p>
      <p>
        <%= link_to "LibraryRequest@jhuapl.edu", "mailto:LibraryRequest@jhuapl.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %>
      </p>
    </div>
    <div class="col-md-7">

    </div>
  </dt>
  <dt class="row" style="padding-bottom:24px;">
    <div class="col-md-5">
      <h4>
        <%= link_to "Arthur Friedheim Library", "https://musiclibrary.peabody.jhu.edu/home"  %>
      </h4>
      <p>
        21 E. Mt Vernon Pl | <%= link_to "Hours", "http://www.peabody.jhu.edu/library"  %><br />
        21202 Baltimore, MD
      </p>
      <p>
        <%= link_to "friedheimlibrary@jhu.edu", "mailto:friedheimlibrary@jhu.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %>
      </p>
    </div>
    <div class="col-md-7">
      <a href="https://musiclibrary.peabody.jhu.edu/blog/updates"
         class="btn btn-primary">
        Book Pickup Service Details
      </a>
    </div>
  </dt>
</dl>
