<h2>Book Pickup Service</h2>
<%= @page_title = "Book Pickup & Returns - JH Libraries" %>
<p>
  Starting Monday, June 29, books and materials from the Johns Hopkins Libraries may be requested for pickup on the
  Homewood, East Baltimore, Washington D.C., and Applied Physics Laboratory campuses. At this time, pick up service is available
  for current Johns Hopkins ID cardholders: students, faculty, and staff. Turnaround time for requested books may be longer than
  usual. Only books owned by the Johns Hopkins Libraries are eligible.
</p>
<h3>How to Request Books: </h3>
<ol>
  <li>Log in to <a href="/login">Catalyst</a>, the online catalog, using your JHED credentials.</li>
  <li>Request materials by selecting the “Request Pickup” button indicating your preferred pick up location.</li>
  <li>We will find and prepare the materials for contact-free pick up.</li>
  <li>When your materials are ready, we will notify you by email.
    <span style="font-weight: bold;">If you select MSEL as your pickup location, you will be required to schedule an appointment for pickup. </span>
  </li>
</ol>
<h3>Pick Up Hours & Locations: </h3>
<p>You may pick up materials at any location listed below. Note that APL is restricted to APL staff only.
</p>

<dl class="campus-libraries">
  <dt><a href="http://www.library.jhu.edu/">
    Milton S. Eisenhower Library</a>, Homewood Campus<br>
    3400 N. Charles Street, Baltimore<br>
    Tuesday - Friday, 9 am – 3 pm, Beach-side, east entrance<br><br>
  </dt>
  <p>
    When you receive the email notifying you that your items are ready for pickup, please follow the link in the email to schedule your pickup appointment.
  </p>
  <p>
    Follow posted signage to enter through designated entrance door. Locate the bag marked with your name on a book truck parked in the vestibule between the inner and outer doors. Leave through the designated exit door.
  </p>

  <dt><a href="http://www.welch.jhu.edu">
    Welch Medical Library Building</a>, East Baltimore campus<br>
    1900 E. Monument Street, Baltimore<br>
    Monday, Wednesday, and Friday, 10 am – 2 pm, rear entrance<br><br>
  </dt>
  <p>
    Enter the library through the rear entrance opposite the Preclinical Teaching Building. Locate the bag marked with your name
    on a book truck parked in the vestibule and exit the library.
  </p>

  <dt><a href="https://sais.jhu.edu/faculty-research/our-libraries/mason-library/book-pickup-service">
    Mason Library at SAIS</a>, DC campus<br>
    1700 Massachusetts Ave NW, Washington D.C.<br>
    Mon-Friday, 9am - 3pm, Nitze Building lobby<br><br>
  </dt>
  <p>
    All materials for both the Johns Hopkins SAIS and the Washington Library Resource Center can be picked up at Mason Library
    at Johns Hopkins SAIS in Washington DC. Enter the building, show your photo ID or JCARD to the guard and locate the bag(s)
    with your name on a book cart in the lobby, then leave through the front exit. Prodensity Health Check required every 12 hours before arriving and while on campus. You can do this on the web or in the Health section of the <a href="https://prodensity.jh.edu/welcome">Prodensity mobile app</a>.
  </p>
  <dt><a href="https://www.jhuapl.edu/sages/library.html">
    APL (staff only)</a></dt>
  <p>
    APL staff may pick up books in 5-17 from the shelf to the left upon entering.
  </p>

   <dt><a href="https://peabody.jhu.edu/explore-peabody/libraries-archives/">
    Arthur Friedheim Library</a></dt>
  <p>
    Monday - Friday 12pm - 4pm, Mews Entrance at 609 Washington Pl.
  </p>

  <h3>Safety Guidelines: </h3>
  <ul>
    <li>Masks and social distancing are required on campus.</li>
    <li>Library materials will be quarantined for 24 hours between users.</li>
  </ul>

  <h3>Book Returns: </h3>
  <p>
    For users who have library materials at home, due dates have been extended to September 30, 2020.
    Please keep those materials in your possession until we reopen. If you are relocating or have special circumstances,
    please contact your circulation library staff.
  </p>

  <h3>Contact Information: </h3>
  <p>For feedback or assistance, please contact your library circulation department:</p>
  The Sheridan Libraries & Museums |
  Email: <%= link_to "circmail@jhu.edu", "mailto:circmail@jhu.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %>
  <br>
  Welch Medical Library |
  Email: <%= link_to "wsc@jhmi.edu", "mailto:wsc@jhmi.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %>
  <br>
  SAIS Library |
  <%= link_to "saislibrary@jhu.edu", "mailto:saislibrary@jhu.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %>
  <br>
  Arthur Friedheim Library |
  Email: <%= link_to "friedheimlibrary@jhu.edu", "mailto:friedheimlibrary@jhu.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %>
  <br>
  Applied Physics Lab |
  Email: <%= link_to "LibraryRequest@jhuapl.edu", "mailto:LibraryRequest@jhuapl.edu?Subject=Johns%20Hopkins%20Libraries%20Curbside%20Question"  %>
  <br>

</dl>
